# Most popular names in North Carolina by decade
Source: My analysis of data from [NC voter registrations](https://www.ncsbe.gov/results-data/voter-registration-data)

In [43]:
# Get the name of the database file and make it read-only
from pathlib import Path

dbfile = Path("~/ncvoters.db").expanduser()
uri = "file:" + str(dbfile) + "?mode=ro"

SQL query to be used:

In [44]:
query_sql = """
    SELECT      DISTINCT first_name, COUNT(first_name) as number
    FROM        voters
    WHERE       race_code = ?
    AND         gender_code = ?
    AND         birth_year BETWEEN ? AND ?
    GROUP BY    first_name
    ORDER BY    2 DESC
    LIMIT       10
"""

def query(race_code, gender_code):
    import sqlite3

    with sqlite3.connect(uri) as con:
        c = con.cursor()
        for year in range(2000, 1900-1, -10):
            end_year = year + 10-1
            c.execute(query_sql, (race_code, gender_code, year, end_year))
            outrow = [year]
            for i, row in enumerate(c.fetchall()):
                outrow.append(row[0])
            yield outrow

### White men

In [45]:
for row in query("W", "M"):
    print(row)

[2000, 'JACOB', 'WILLIAM', 'MATTHEW', 'JOSHUA', 'ANDREW', 'MICHAEL', 'JOHN', 'ETHAN', 'JAMES', 'NICHOLAS']
[1990, 'MATTHEW', 'MICHAEL', 'WILLIAM', 'JOSHUA', 'CHRISTOPHER', 'JACOB', 'JOHN', 'ANDREW', 'JAMES', 'ZACHARY']
[1980, 'MICHAEL', 'CHRISTOPHER', 'MATTHEW', 'JOSHUA', 'JAMES', 'DAVID', 'JOHN', 'WILLIAM', 'DANIEL', 'ROBERT']
[1970, 'MICHAEL', 'CHRISTOPHER', 'JAMES', 'DAVID', 'JASON', 'JOHN', 'ROBERT', 'WILLIAM', 'BRIAN', 'MATTHEW']
[1960, 'MICHAEL', 'JAMES', 'DAVID', 'JOHN', 'ROBERT', 'WILLIAM', 'MARK', 'JEFFREY', 'RICHARD', 'TIMOTHY']
[1950, 'JAMES', 'MICHAEL', 'ROBERT', 'JOHN', 'DAVID', 'WILLIAM', 'RICHARD', 'THOMAS', 'CHARLES', 'MARK']
[1940, 'JAMES', 'ROBERT', 'WILLIAM', 'JOHN', 'DAVID', 'CHARLES', 'RICHARD', 'THOMAS', 'MICHAEL', 'LARRY']
[1930, 'JAMES', 'ROBERT', 'WILLIAM', 'JOHN', 'CHARLES', 'RICHARD', 'DONALD', 'THOMAS', 'DAVID', 'GEORGE']
[1920, 'WILLIAM', 'JAMES', 'JOHN', 'ROBERT', 'CHARLES', 'GEORGE', 'THOMAS', 'RICHARD', 'JOSEPH', 'DONALD']
[1910, 'JOHN', 'WILLIAM', 'JAMES', 'ROBERT', 'GEORGE', 'CHARLES', 'JOSEPH', 'THOMAS', 'PAUL', 'FRANK']
[1900, 'JAMES', 'WILLIAM', 'ROBERT', 'JOHN', 'CHARLES', 'RICHARD', 'GEORGE', 'DAVID', 'JOSEPH', 'THOMAS']

### White women

In [46]:
for row in query("W", "F"):
    print(row)

[2000, 'HANNAH', 'MADISON', 'EMILY', 'EMMA', 'SARAH', 'ABIGAIL', 'ANNA', 'ELIZABETH', 'OLIVIA', 'LAUREN']
[1990, 'SARAH', 'EMILY', 'JESSICA', 'ASHLEY', 'HANNAH', 'BRITTANY', 'LAUREN', 'ELIZABETH', 'TAYLOR', 'MEGAN']
[1980, 'JESSICA', 'JENNIFER', 'AMANDA', 'ASHLEY', 'SARAH', 'ELIZABETH', 'HEATHER', 'LAUREN', 'STEPHANIE', 'MELISSA']
[1970, 'JENNIFER', 'AMY', 'MELISSA', 'KIMBERLY', 'ANGELA', 'HEATHER', 'LISA', 'MICHELLE', 'ELIZABETH', 'STEPHANIE']
[1960, 'LISA', 'KIMBERLY', 'SUSAN', 'MARY', 'KAREN', 'DONNA', 'ELIZABETH', 'CYNTHIA', 'TAMMY', 'ANGELA']
[1950, 'DEBORAH', 'SUSAN', 'MARY', 'LINDA', 'PATRICIA', 'DEBRA', 'KAREN', 'BARBARA', 'DONNA', 'NANCY']
[1940, 'LINDA', 'MARY', 'PATRICIA', 'BARBARA', 'NANCY', 'BRENDA', 'SANDRA', 'CAROL', 'CAROLYN', 'BETTY']
[1930, 'MARY', 'BETTY', 'BARBARA', 'SHIRLEY', 'NANCY', 'PATRICIA', 'MARGARET', 'DOROTHY', 'PEGGY', 'DORIS']
[1920, 'MARY', 'DOROTHY', 'MARGARET', 'BETTY', 'HELEN', 'RUTH', 'DORIS', 'FRANCES', 'ELIZABETH', 'VIRGINIA']
[1910, 'MARY', 'MARGARET', 'RUTH', 'HELEN', 'DOROTHY', 'ELIZABETH', 'VIRGINIA', 'FRANCES', 'RUBY', 'MILDRED']
[1900, 'MARY', 'BARBARA', 'NANCY', 'BETTY', 'MARGARET', 'FRANCES', 'HELEN', 'DOROTHY', 'PEGGY', 'MARTHA']

### Black men

In [47]:
for row in query("B", "M"):
    print(row)

[2000, 'JOSHUA', 'ISAIAH', 'JORDAN', 'CHRISTOPHER', 'ELIJAH', 'JALEN', 'MICHAEL', 'CAMERON', 'JUSTIN', 'CHRISTIAN']
[1990, 'CHRISTOPHER', 'MICHAEL', 'JOSHUA', 'BRANDON', 'JAMES', 'ANTHONY', 'JUSTIN', 'WILLIAM', 'JORDAN', 'MARCUS']
[1980, 'MICHAEL', 'CHRISTOPHER', 'BRANDON', 'JAMES', 'ANTHONY', 'WILLIAM', 'MARCUS', 'ROBERT', 'DAVID', 'ANTONIO']
[1970, 'MICHAEL', 'JAMES', 'CHRISTOPHER', 'ANTHONY', 'WILLIAM', 'ROBERT', 'KEVIN', 'ERIC', 'DAVID', 'JOHN']
[1960, 'JAMES', 'MICHAEL', 'ANTHONY', 'WILLIAM', 'ROBERT', 'JOHN', 'KENNETH', 'DAVID', 'CHARLES', 'GREGORY']
[1950, 'JAMES', 'WILLIAM', 'MICHAEL', 'LARRY', 'ROBERT', 'JOHN', 'CHARLES', 'WILLIE', 'DAVID', 'RONALD']
[1940, 'JAMES', 'WILLIAM', 'JOHN', 'ROBERT', 'WILLIE', 'CHARLES', 'GEORGE', 'THOMAS', 'DAVID', 'JOSEPH']
[1930, 'JAMES', 'WILLIAM', 'JOHN', 'ROBERT', 'WILLIE', 'CHARLES', 'GEORGE', 'JOSEPH', 'THOMAS', 'DAVID']
[1920, 'JAMES', 'JOHN', 'WILLIAM', 'WILLIE', 'ROBERT', 'GEORGE', 'CHARLES', 'JOSEPH', 'THOMAS', 'WALTER']
[1910, 'JOHN', 'JAMES', 'WILLIAM', 'ROBERT', 'WILLIE', 'JOSEPH', 'WALTER', 'GEORGE', 'EDWARD', 'DAVID']
[1900, 'JAMES', 'WILLIAM', 'JOHN', 'WILLIE', 'ROBERT', 'DAVID', 'CHARLES', 'THOMAS', 'BENJAMIN', 'MICHAEL']

### Black women

In [48]:
for row in query("B", "F"):
    print(row)

[2000, 'DESTINY', 'JADA', 'KAYLA', 'JASMINE', 'ALEXIS', 'BRIANNA', 'MAKAYLA', 'AALIYAH', 'TRINITY', 'TAYLOR']
[1990, 'JASMINE', 'BRITTANY', 'ASHLEY', 'ALEXIS', 'JESSICA', 'BRIANNA', 'KAYLA', 'DESTINY', 'BRIANA', 'COURTNEY']
[1980, 'TIFFANY', 'ASHLEY', 'JESSICA', 'LATOYA', 'CRYSTAL', 'BRITTANY', 'KIMBERLY', 'JASMINE', 'ERICA', 'EBONY']
[1970, 'ANGELA', 'KIMBERLY', 'TONYA', 'NICOLE', 'TIFFANY', 'STEPHANIE', 'MICHELLE', 'CRYSTAL', 'YOLANDA', 'FELICIA']
[1960, 'ANGELA', 'SHARON', 'LISA', 'CYNTHIA', 'PAMELA', 'MARY', 'JACQUELINE', 'PATRICIA', 'LINDA', 'SANDRA']
[1950, 'MARY', 'LINDA', 'PATRICIA', 'BRENDA', 'BARBARA', 'DEBORAH', 'CAROLYN', 'SHIRLEY', 'CYNTHIA', 'GLORIA']
[1940, 'MARY', 'BARBARA', 'ANNIE', 'BETTY', 'SHIRLEY', 'DOROTHY', 'CAROLYN', 'PATRICIA', 'LINDA', 'BRENDA']
[1930, 'MARY', 'ANNIE', 'DOROTHY', 'SHIRLEY', 'BETTY', 'MARGARET', 'BARBARA', 'DORIS', 'HELEN', 'SARAH']
[1920, 'MARY', 'ANNIE', 'DOROTHY', 'RUTH', 'MARGARET', 'HELEN', 'ELIZABETH', 'LILLIE', 'MILDRED', 'LOUISE']
[1910, 'MARY', 'ANNIE', 'ELIZABETH', 'SARAH', 'RUTH', 'LILLIE', 'ROSA', 'MINNIE', 'MARGARET', 'ETHEL']
[1900, 'MARY', 'DOROTHY', 'FRANCES', 'BETTY', 'EVELYN', 'MARGARET', 'SHIRLEY', 'RUBY', 'BARBARA', 'ROSA']